// DEFINE COLOR HERE
$primary: #5ab2ff;
$primary_light: #caf4ff;
$warning: #ff8a00;
$warning_light: #fff3e8;
$success: #479f76;
$success_light: #d7f0f3;
$danger: #ff4040;
$danger_light: #f9dcdf;
$info: #8950fc;
$info_light: #eee5ff;

$light: #f3f6f9;
$grey: #a6a6b7;
