// DEFINE COLOR HERE
$primary: #5AB2FF;
$primary_light: #CAF4FF;
$warning: #ff8a00;
$warning_light: #FFF3E8;
$success: #70a14f;
$success_light: #D7F0F3;
$danger: #ff4040;
$danger_light: #F9DCDF;
$info: #8950fc;
$info_light: #eee5ff;

$light: #F3F6F9;
$grey: #A6A6B7 