@import "./variables";

svg.wave {
  display: none !important;
}

.gradient-animate.light {
  background: #f3f6f9 !important;
}

.v-navigation-drawer.theme--light {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px !important;
  background-color: white !important;
  color: white !important;
  height: 100% !important;
  width: 17em !important;
  max-width: 280px !important;
  padding-top: 0;

  .sidebar-header {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1.3em;
    padding-bottom: 1em;
    img {
      height: 4.5em;
      width: auto;
    }

    .sidebar-profile {
      width: 100%;
      background-color: #f6f7f9;
      // padding: 10px;
      // padding-bottom: 0;
      align-items: center;
      border-radius: 12px;
      overflow: hidden;
      padding-top: 10px;
      border: 1px solid rgba(186, 186, 186, 0.1);

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #d1d1d1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
        font-weight: bold;
        color: #7a7a7a;
        text-transform: uppercase;
      }

      .sidebar-profile-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #cfcfcf;
        width: 100%;
        i {
          color: black;
        }
      }

      .sidebar-header-menu {
        background-color: white;
        width: 100%;
        padding-block: 5px;
        display: none;
        max-height: 0;
        transition: all 0.3s ease;

        &.open {
          display: block;
          max-height: 500px;
          transition: max-height 0.3s ease;
        }
        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          padding-block: 7px;
          padding-inline: 10px;
          color: rgb(80, 80, 80);
          font-size: 0.9em;
          i {
            padding-right: 5px;
            color: rgb(80, 80, 80) !important;
          }

          &.danger {
            color: $danger;
            i {
              color: $danger !important;
            }
          }
        }
      }
      .sidebar-profile-name {
        padding-left: 10px;
        flex: 1;

        h6 {
          font-size: 0.9em;
        }
      }
    }
  }

  .sidebar-menus {
    color: black !important;
    padding-top: 1em;
    padding-bottom: 2em;

    .sidebar-menu-item {
      display: flex;
      flex-direction: column;
      padding-right: 0.9em;
      .sidebar-title {
        font-weight: 600;
        font-size: 0.8em;
        text-transform: uppercase;
        padding-block: 10px;
        padding-left: 1.5em;
      }
      .sidebar-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-block: 0.7em;
        padding-left: 1.3em;
        text-decoration: none;
        i {
          color: rgba(88, 88, 88, 0.5) !important;
        }
        span {
          padding-left: 10px;
          font-size: 0.8em;
          color: rgba(88, 88, 88, 0.8) !important;
          &.badge {
            margin-left: 5px;
            padding-block: 2px;
            padding-inline: 5px;
            font-weight: 500 !important;
            font-size: .8em !important;
          }
          &.badge.text-info {
            color: $info !important;
            font-weight: bold;
          }
        }
        

        &.active {
          background-color: $success_light;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          transition: all 0.5s ease;
          i,
          span {
            color: $success !important;
            transition: all 0.5s ease;
          }
          span {
            font-weight: 600;
          }
        }
        &:hover {
          background-color: $success_light;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          transition: all 0.5s ease;

          i,
          span {
            color: $success !important;
            transition: all 0.5s ease;
          }
        }
      }

      
    }

    .sidebar-menu-item.activities {
      padding-block: .5em;
      &.carbon {
        
        background-color: lighten($success_light, 4);
      }
      .carbon-switch {
        border-radius: 12px;
        overflow: hidden;
        border: 1px solid rgba(163, 163, 163, 0.534);
        button {
          font-size: .8em;
          font-weight: normal;
          padding-inline: 10px;
          background-color: $success_light;
          padding-block: 5px;
          color: $success;
          &.active {
            background-color: $success;
            color: white;
            font-weight: 500;
          }
        }
      }
    }
  }
  //   &.v-navigation-drawer--close {
  //     visibility: visible !important;
  //     position: fixed !important;
  //     transform: translateX(0%) !important;
  //     height: 100% !important;
  //     margin: 0 !important;
  //     max-height: unset !important;
  //     border-top-left-radius: 0 !important;
  //     border-bottom-left-radius: 0 !important;

  //     .v-navigation-drawer__prepend {
  //       display: none !important;
  //     }
  //     .v-navigation-drawer__append {
  //       display: none;
  //     }
  //     .v-navigation-drawer__content .v-list-item__content,
  //     .v-navigation-drawer__content .v-list-item__title,
  //     .v-navigation-drawer__content .v-list-group__header__append-icon {
  //       display: none !important;
  //     }

  //     .v-list-group__header__prepend-icon {
  //       margin: 0 !important;
  //       width: 4em;
  //       height: 4em;
  //       i {
  //         font-size: 3rem;
  //       }
  //     }
  //   }
  .v-list-item__title,
  .v-list-item__subtitle,
  .v-list-item__icon,
  .v-icon {
    color: white !important;
  }
}

.v-main.light {
  padding-top: 0 !important;
  .container.mt-5.pl-3.pl-lg-6.pb-4.pl-0.pl-lg-3.container--fluid {
    padding-top: 0 !important;
    margin-top: 0.75em !important;
    padding-left: 2em !important;
  }
  .v-card {
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05) !important;

    background-clip: border-box;
    border: 1px solid #ebedf3;
  }
}

.v-app-bar.theme--light {
  display: none;
}

.toggle-button-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .toggle-button-mobile {
    display: flex;
    position: fixed;
    z-index: 5;
    right: 1em;
    bottom: 1em;
    background-color: $success;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      color: white !important;
    }
  }
}
