@import "../../assets/scss/variables";

.farmer-detail-photo {
    align-items: center;
    .img {
        height: 10em;
        width: 10em;
        margin-block: 15px;
        background-position: center;
        background-size: contain;
        &:hover {
            cursor: pointer;
        }
        &.cover {
            background-size: cover;
        }
    }
}