@import "../../../../assets/scss/variables";

.statistic-card {
	&.success {
			background-color: $success_light !important;
	
			.value,
			i {
				color: $success !important;
			}
		}
	
		&.danger {
			background-color: $danger_light !important;
	
			.value,
			i {
				color: $danger !important;
			}
		}
	
		&.warning {
			background-color: $warning_light !important;
	
			.value,
			i {
				color: $warning !important;
			}
		}
	
		&.info {
			background-color: $info_light !important;
	
			.value,
			i {
				color: $info !important;
			}
		}
	
		&.primary {
			background-color: $primary_light !important;
	
			.value,
			i {
				color: $primary !important;
			}
		}
}